{% extends 'base.html.j2' %}

{% block title %}Coordinate reference systems (CRS / SRS){% endblock %}
{% block header %}Coordinate reference systems (CRS / SRS){% endblock %}

{% block content %}
  <ul>
    {% for element in elements %}
      <li><a href={{ element.href }}>{{element.name}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
