<!doctype html>

<head>
    <title>Coordinate reference systems (CRS / SRS)</title>
</head>

<body>

  <ul>
    {% for element in elements %}
      <li><a href={{ element.href }}>{{element.name}}</a></li>
    {% endfor %}
  </ul>

</body>
